@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.myProfile-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 2rem;
  gap: 50px;
}

.mission-item {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

h6 {
  border: 1px solid black;
}

.reserved-container{
  border: 1px solid rgb(219, 219, 219);
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 7px;
  overflow: hidden;
}

.rocket-name{
  padding: 20px 15px;
}


.rocket-name:nth-child(odd){
   border-top: 2px rgb(185, 183, 183) solid;
}