@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.rocket-container {
  padding: 10px 8%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: "Poppins", sans-serif;
}

.rocket-card {
  display: flex;
  gap: 20px;
}

.img-box {
  width: 30%;
  max-height: 100%;
}

img {
  height: 100%;
  width: 100%;
}

.text-box {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.text-box > button {
  padding: 10px 15px;
  background-color: rgb(80, 80, 247);
  color: rgb(240, 240, 240);
  border: none;
  border-radius: 4px;
  font-size: 0.91rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.text-box > h2 {
  color: rgb(26, 26, 26);
}

.reserved-badge{
  background-color: darkcyan;
  border-radius: 3px;
  color: #fff;
  padding: 2px 3px;
}

@media screen and (max-width:992px){
  .text-box{
    font-size: 13px;
    width:60%;
  }

   .img-box{
     width: 40%;
   }

   .text-box>button{
     font-size: 0.75rem;
   }
}