@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;1,300;1,400&display=swap');

:root {
  --font: 'Bitter', serif;
  --font-color: 'beige';
}

li {
  list-style: none;
  color: beige;
}

.nav-link {
  text-decoration: none;
  color: var(--font-color);
}

nav {
  width: 40%;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: beige;
}

header {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  background-color: darkcyan;
  color: var(--font-color);
  font-family: var(--font);
}

header img {
  width: 70px;
  height: 70px;
}
